<div ui-tree-handle class="tree-node tree-node-content">
    <a class="btn btn-default btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
    <input type="checkbox" ng-model="node.checked" ng-change="checked(node);" />{{node.title}}
</div>
<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'js/templates/nodes_renderer.html'">
     
    </li>
</ol>